click==8.1.3
Flask==2.2.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
greenlet==2.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
SQLAlchemy==2.0.6
typing_extensions==4.5.0
Werkzeug==2.2.3
voicetuser@VoicetServer:/output/Voicet$ source venv/bin/activate
(venv) voicetuser@VoicetServer:/output/Voicet$ pip freeze
appdirs==1.4.4
audioread==3.0.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.1
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
ffmpeg-python==0.2.0
filelock==3.9.0
Flask==2.2.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
fonttools==4.39.2
future==0.18.3
greenlet==2.0.2
gunicorn==20.1.0
huggingface-hub==0.13.3
idna==3.4
importlib-metadata==6.1.0
importlib-resources==5.12.0
inflect==6.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lazy-loader==0.2
librosa==0.10.0.post2
lit==16.0.0
llvmlite==0.39.1
MarkupSafe==2.1.2
matplotlib==3.7.1
more-itertools==9.1.0
mpmath==1.2.1
msgpack==1.0.5
networkx==3.0
numba==0.56.4
numpy==1.23.5
openai-whisper==20230314
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pooch==1.6.0
progressbar2==4.2.0
pycparser==2.21
pydantic==1.10.7
pydload==1.0.9
pydub==0.25.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-utils==3.5.2
pytube==12.1.3
pytz==2023.2
PyYAML==6.0
regex==2023.3.23
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.4
SQLAlchemy==2.0.6
sympy==1.11.1
threadpoolctl==3.1.0
tiktoken==0.3.1
tokenizers==0.13.2
torch==2.0.0+cpu
tqdm==4.65.0
transformers==4.27.3
triton==2.0.0
typing-extensions==4.5.0
Unidecode==1.3.6
urllib3==1.26.15
Werkzeug==2.2.3
zipp==3.15.0
