<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voicet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="hero is-info is-fullheight">

        <div class="hero-head">
            <nav class="navbar is-large" style="font-size: 24px;">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">

                        <a href="{{ url_for('main.index') }}" class="navbar-item {% if active == 'home' %} is-active{% endif %}">
                            Home
                        </a>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.gallery') }}" class="navbar-item{% if active == 'gallery' %} is-active{% endif %}">
                            Gallery
                        </a>

                        <a href="{{ url_for('main.profile') }}" class="navbar-item {% if active == 'profile' %} is-active{% endif %}">
                            Profile
                        </a>
                        <a  class="js-modal-trigger  navbar-item" data-target="upload-modal">
                            Upload
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item {% if active == 'login' %} is-active{% endif %}">
                            Login
                        </a>
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item {% if active == 'signup' %} is-active{% endif %}">
                            Sign Up
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Logout
                        </a>
                        {% endif %}
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>



  
  <!-- Modal -->
  <div class="modal" id="upload-modal">
    <div class="modal-background"></div>
    <div class="modal-content is-centered">
      <div class="box">
        <h1 class="title has-text-centered">Youtube Shorts URL</h1>
        <form method="POST" action="{{ url_for('main.upload') }}" enctype="multipart/form-data">

          <div class="field">
            <div class="control">
              <input id="text-input" class="input" type="text" placeholder="URL" name="url" >
            </div>
          </div>

          <h1 class="title has-text-centered">Or</h1>


          <div class="field">
              <div class="control">
                  <input id="file-input" class="input is-large" class="file-input" type="file" name="file" autofocus="" placeholder="Upload Video">
              </div>
          </div>

          <button class="button is-block is-info is-large is-fullwidth">Upload</button>
      </form>


      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  
 
  
    
  <script>

const fileInput = document.getElementById('file-input');
const textInput = document.getElementById('text-input');

fileInput.addEventListener('change', () => {
  if (fileInput.files.length === 0) {
    textInput.disabled = false;
  } else {
    textInput.disabled = true;
  }
});

textInput.addEventListener('input', () => {
  if (textInput.value.trim() === '') {
    fileInput.disabled = false;
  } else {
    fileInput.disabled = true;
  }
});



    document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key
      closeAllModals();
    }
  });
});

  setTimeout(function() {
    var notifications = document.getElementsByClassName('notification');
    for (var i = 0; i < notifications.length; i++) {
      notifications[i].remove();
    }
  }, 3000);
</script>

</body>

</html>